---
name: opaque-ts

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  testing:
    name: Test on Node v${{ matrix.node }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [22, 20]
    steps:
      - name: Checking out
        uses: actions/checkout@v4
      - name: Node v${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - name: Install NPM dependencies
        run: npm ci
      - name: Format files
        run: npm run check-format
      - name: Linter
        run: npm run lint
      - name: Building
        run: npm run build
      - name: Testing
        run: npm test
