---
name: opaque-ts

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
permissions:
  contents: read
jobs:
  testing:
    name: Test on Node v${{ matrix.node }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [24, 22]
    steps:
      - name: Checking out
        uses: actions/checkout@v5
      - name: Node v${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - name: Install NPM dependencies
        run: npm ci
      - name: Linter
        run: npm run lint
      - name: Building
        run: npm run build
      - name: Testing
        run: npm test
